/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

/* HEADER */
span.language-text{
    font-size: 1rem;
    padding: 5px;
}
.sticky .header-top-bar{
    display: none;
}
.header-top-bar{
    color: #ffffff;
    z-index: 10!important;
    border-bottom: 1px solid #ffffff;
}
.header-top-bar span{
    font-size: 0.8rem;
}

/* ADVENTURE GRID */
.banner-adventure-grid-wrapper{
    background: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 665px;
    margin-bottom: 60px;
    position: relative;
}

/* WHATSAPP */
.whatsapp-icon{
    position: fixed;
    left: 20px;
    bottom: 21px;
    z-index: 10;
}

/* BOOKING */
.form-research-booking select,input[type="date"]{
    height: calc(2.68rem + 8px)!important;
    border: none;
}

.form-research-booking input[type=date]{
    color: #0054a6!important;
    font-weight: 600;
}

.form-research-booking select{
    color: #0054a6!important;
    font-weight: 600;
}
.form-research-booking .fa{
    color: black!important;
}


.navbar-sort-booking ul li{
    font-size: 0.8rem;
}

.box_list_footer li{
    display: inline-block!important;
}

#total_cart small{
    float: right;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}
.booking-title{
    padding-left: 10px;
    border-left: 7px solid gray;
}


/* PAYMENT */
.aside-payment label{
    font-size: 10px;
}

